# 1. DEFINIR INDEX PREDETERMINADO
DirectoryIndex index.php

# 2. EVITAR EL LISTADO DIRECTO DE CARPETAS
Options -Indexes

# 3. ACTIVAR EL MOTOR DE REESCRITURA
<IfModule mod_rewrite.c>
    RewriteEngine On

    # 4. FORZAR HTTPS SOLO EN PRODUCCIÓN (Ignora localhost, *.localhost e IPs locales con/sin puerto)
    RewriteCond %{HTTP_HOST} !localhost [NC]
    RewriteCond %{HTTP_HOST} !^127\.0\.0\.1 [NC]
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # 5. FRONT CONTROLLER
    # Redirige cualquier petición a index.php si no es archivo o carpeta física existente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>